* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #222831;
  --container-bg-color: #eeeeee;
  --orange-effect-color: #fd7014;
  --text-color: #393e46;

  --border-radius-standard: 0.5rem;
  --padding-standard: min(5em, 8%);
  --box-shadow-standard: 0 3px 10px rgba(0, 0, 0, 0.05);

  --font-size-heading-one: clamp(1.8rem, calc(7vw + 1rem), 5rem);
  --font-size-heading-three: clamp(1.5rem, calc(5vw + 1rem), 2rem);
  --font-size-p: clamp(0.6rem, calc(1vw + 1rem), 1rem);
  --font-size-li: clamp(0.4rem, calc(0.6vw + 0.6rem), 1rem);
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif, 'Times New Roman';
  background-color: var(--background-color);
  letter-spacing: 0.05em;
  line-height: 1.6rem;
}

h1 {
  font-size: var(--font-size-heading-one);
  margin-block: 1rem;
  font-weight: 600;
  color: var(--orange-effect-color);
}

img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius-standard);
}

h3 {
  color: var(--orange-effect-color);
  font-size: var(--font-size-heading-three);
  margin-block: var(--padding-standard);
}

p {
  color: var(--text-color);
  font-size: var(--font-size-p);
}

li {
  font-size: var(--font-size-li);
}

ul {
  padding: var(--padding-standard);
}

#newRecipe-container {
  background-color: var(--container-bg-color);
  border-radius: var(--border-radius-standard);
  padding: var(--padding-standard);
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: var(--box-shadow-standard);
  gap: 2.4rem;
  flex-wrap: wrap;
  margin: 0.5rem;
}
